---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Overwrite style sheet
p {
    font-size: $type-size-6 !important;
}

ul {
    font-size: $type-size-6 * 1.1 !important;
}

ol {
    font-size: $type-size-6 * 1.1 !important;
}
